<div class="row">
	<div class="jumbotron">
	  <div class="container">
	    <h1>Vacation Recreation</h1>
	  </div>
	</div>
</div>

<br><br><br><br><br><br>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
	<div class="card">
	  <div class="card-header">
	    Welcome! Tell Us a Bit About Yourself
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">I am a...</h5>
	    <form>
			  <div class="form-row align-items-center">
			      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
			        <option value="1">Renter</option>
			        <option value="2">Owner</option>
			      </select>
			    </div>
			    <br><br>
			    <div class="col-auto my-1">
			      <button type="submit" class="btn btn-primary">Submit</button>
			    </div>
			  </div>
			</form>
	  </div>
	</div>
	</div>
</div>