<link rel="stylesheet" href="../public/assets/css/style.css" type="text/css">
<body class="owner">
<div class="row">
	<div class="jumbotron">
	  <div class="container">
	    <h1>Vacation Recreation</h1>
	  </div>
	</div>
</div>

<br><br><br><br><br><br>


<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
	<div class="card">
	  <div class="card-body">
	    <h2>Welcome! What Item(s) Are You Listing For Rent Today?</h2>
	    <br>
	    <form>
	    	<div class="row">
	    		<div class="col-md-6">
			    	<div class="form-group">
					    <label for="exampleFormControlInput1">Item Name</label>
					    <input type="item" class="form-control" id="itemSearch" placeholder="ex: golf clubs">
					 </div>
					</div>
					<div class="col-md-6">
				    	<div class="form-group">
						    <label for="exampleFormControlSelect1">Category</label>
						    <select class="form-control" id="exampleFormControlSelect1">
						      <option>1</option>
						      <option>2</option>
						      <option>3</option>
						      <option>4</option>
						      <option>5</option>
						    </select>
						 </div>
					</div>
				</div>
			<div class="row">
				<form>
				  <div class="form-group col-md-3">
				    <label for="exampleFormControlFile1">Upload Photo of Item</label>
				    <input type="file" class="imageFile" id="exampleFormControlFile1">
				  </div>
				</form>
				<div class="col-md-3">
					<label for="price">Rental Price</label>
			    <input type="text" class="form-control" id="price">
				</div>
				<div class="col-md-6">
					<label for="image">Item Description</label>
			    <input type="text" class="form-control" id="itemDesc">
				</div>
			</div>
			 <div class="form-group">
			    <label for="location">Location</label>
			    <input type="location" class="form-control" id="locationSearch">
			 </div>
			 <div class="row">
			 	<div class="col-md-4">
					 <div class="form-group">
					    <label for="dateNeeded">Date Available From: </label>
					    <input type="date" class="form-control" id="day">
					 </div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
					    <label for="dateNeeded">To: </label>
					    <input type="date" class="form-control" id="day">
					 </div>
				</div>
			</div>
			 <br>
			 <button type="submit" class="btn btn-primary mb-2">Submit</button>
	  </div>

	</div>
	</div>
</div>

</body>

