<link rel="stylesheet" href="../public/assets/css/style.css" type="text/css">
<body class="owner">
<div class="row">
	<div class="jumbotron">
	  <div class="container">
	    <h1>Vacation Recreation</h1>
	  </div>
	</div>
</div>

<br><br><br><br><br><br>


<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
	<div class="card">
	  <div class="card-body">
	    <h2>Welcome! What Item(s) Are You Listing For Rent Today?</h2>
	    <br>
	    <form>
	    	<div class="row">
	    		<div class="col-md-6">
			    	<div class="form-group">
					    <label for="exampleFormControlInput1">Item Name</label>
					    <input type="item" class="form-control" id="itemSearch" placeholder="ex: golf clubs">
					 </div>
					</div>
					<div class="col-md-6">
				    	<div class="form-group">
						    <label for="exampleFormControlSelect1">Category</label>
						    <select class="form-control" id="exampleFormControlSelect1">
						      <option>1</option>
						      <option>2</option>
						      <option>3</option>
						      <option>4</option>
						      <option>5</option>
						    </select>
						 </div>
					</div>
				</div>
			<div class="row">
				<form>
				  <div class="form-group col-md-3">
				    <label for="exampleFormControlFile1">Upload Photo of Item</label>
				    <input type="file" class="imageFile" id="exampleFormControlFile1">
				  </div>
				</form>
				<div class="col-md-3">
					<label for="price">Rental Price</label>
			    <input type="text" class="form-control" id="price">
				</div>
				<div class="col-md-6">
					<label for="image">Item Description</label>
			    <input type="text" class="form-control" id="itemDesc">
				</div>
			</div>
			 <div class="form-group">
			    <label for="location">Location</label>
			    <input type="location" class="form-control" id="locationSearch">
			 </div>
			 <div class="row">
			 	<div class="col-md-4">
					 <div class="form-group">
					    <label for="dateNeeded">Date Available From: </label>
					    <input type="date" class="form-control" id="day">
					 </div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
					    <label for="dateNeeded">To: </label>
					    <input type="date" class="form-control" id="day">
					 </div>
				</div>
			</div>
			 <br>
			 <button type="submit" class="btn btn-primary mb-2">Submit</button>
	  </div>

	</div>
	</div>
</div>

<br><br><br>
<div class="row">
	<div class="col-md-3"></div>
	<div class="card" style="width: 18rem;">
	  <img class="card-img-top" id="photo" src="../public/assets/css/images/paddleboard.jpg", alt="Card image cap">
	  <div class="card-body">
	    <h5 class="card-title" id="itemName">SUP Paddleboard</h5>
	    <p class="card-text" id="itemDesc">Perfect way to experience all the sites of Tahoe from the lake! Get an excellent workout on this easy to use board.</p>
	  </div>
	  <ul class="list-group list-group-flush">
	    <li class="list-group-item" id="category">Water Sports</li>
	    <li class="list-group-item" id="price">$25/day, $130/week</li>
	    <li class="list-group-item" id="location">Lake Tahoe, UT</li>
	    <li class="list-group-item" id="owner">Jessica</li>
	  </ul>
	</div>
	<div class="col-md-1"></div>
	<div class="card" style="width: 18rem;">
	  <img class="card-img-top" id="photo" src="../public/assets/css/images/mtnbike.jpg", alt="Card image cap">
	  <div class="card-body">
	    <h5 class="card-title" id="itemName">Mountain Bike</h5>
	    <p class="card-text" id="itemDesc">Checkout the Tahoe Bike Map for turn by turn directions along the lake's rim. And, for places to stop and expected terrain. Biking the region is my favorite activity.</p>
	  </div>
	  <ul class="list-group list-group-flush">
	    <li class="list-group-item" id="category">Biking</li>
	    <li class="list-group-item" id="price">$10/day, $50/week</li>
	    <li class="list-group-item" id="location">Lake Tahoe, UT</li>
	    <li class="list-group-item" id="owner">Jessica</li>
	  </ul>
	</div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Your Lisiting</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>

