* {
	box
}

body {
	background-image: url(images/winter.jpg), url(images/spring.jpg), url(images/summer.jpg), url(images/fall.jpg);
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	background-size: 25%, 25%, 25%, 25%;
	background-attachment: fixed, fixed, fixed, fixed;
	background-position: left top, right top, right bottom, left bottom;
}

/*body {
	background-image: url(images/winter3.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}*/

.nav-wrapper {
	background-color: #66bb6a;
	font-color: #607d8b;
	font-weight: bold;
}

.page-footer {
	background-color: #66bb6a;
	font-color: #607d8b;
}